<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.mapper.game.GameFightMapper">

    <select id="getGameFightList" resultType="com.sy.model.game.GameFight" >
        select id,user_id,user_name,to_user_name,type,createtime,is_win from game_fight where user_id = #{userId}
    </select>
</mapper>